<h1 class = "title is-1 has-text-centered">Stocks</h1>

<p class = "level-item is-family-monospace"><%= link_to 'Add to your stock', new_stock_path, class: "button is-rounded" %></p>
<h1 class = "title is-1 has-text-centered">Edit a stock item</h1>
<h1 class = "title is-1 has-text-centered">Delete a stock item</h1>
<h1 class = "title is-1 has-text-centered">Stock list:</h1>
<table class = "table is-hoverable">
  <thead>
    <tr>
      <%# <th>No:</th> %>
      <th>Title:</th>
      <th>Condition:</th>
      <th>Price:</th>
      <th>Quantity:</th>
    </tr>
  <thead>
  <tbody>
    <% @stock.each do |item| %>
      <th><%= item.card.title.capitalize%></th>
      <th><%= item.condition.capitalize %></th>
      <th><%= item.price %></th>
      <th><%= item.quantity %></th>
    <% end %>
  </tbody>
</table>


