 <% if user_signed_in? %>
  <nav class = "container is-fluid">
    <div class = "notification has-background-grey-dark">
      <div class = "level">
        <div class = "level-left">
          <p class = "level-item has-text-white is-family-monospace is-capitalized"><%= current_user.name %></p>
        </div>
          <div class = "level-right">
            <p class = "level-item has-text-white is-family-monospace"><%= link_to 'Home', root_path %></p>
            <% if current_user.registered == true %>
              <p class = "level-item has-text-white is-family-monospace"><%= link_to 'Unregister as a seller', edit_trade_path(id:current_user.id) %></p>
              <p class = "level-item has-text-white is-family-monospace"><%= link_to 'Edit your stock', stocks_path %></p>
            <% else %>
              <p class = "level-item has-text-white is-family-monospace"><%= link_to 'Register as a seller', edit_trade_path(id:current_user.id) %></p>
            <% end %>
            <p class = "level-item has-text-white is-family-monospace"><%= link_to 'Logout', destroy_user_session_path, method: "delete"%></p>
          </div>
        </div>
      </div>
    </div>
  </nav>

 <% else %>
  <nav class = "container is-fluid">
    <div class = "notification has-background-grey-dark">
      <div class = "level">
        <div class = "level-left"></div>
          <div class = "level-right">
            <p class = "level-item has-text-white is-family-monospace"><%= link_to 'Login', new_user_session_path %></p>
            <p class = "level-item has-text-white is-family-monospace"><%= link_to 'Sign Up', new_user_registration_path %></p>
          </div>
        </div>
      </div>
    </div>
  </nav>
 <% end %>