<section class = "section">
  <div class = "container">
    <h1 class = "title is-1">Cart</h1>
    <div class="tile is-ancestor">
      <div class="tile is-6 is-vertical is-parent">
      <%# display all order items in cart with corresponding information %>
          <% @items&.each do |item| %>
              <div class="tile is-child box">
                <p>Title: <%= item.stock.card.title %></p>
                <p>Seller: <%= item.stock.seller.username.capitalize %></p>
                <p>Condition: <%= item.stock.condition %></p>
                <p>Price: <%= item.stock.price %></p>
                <%= form_with model: item, local: true do |f| %>
                  <p>Quantity: <%= f.number_field :quantity, max: item.stock.quantity, min: 1, step: 1 %></p>
                <p>Total: <%= number_to_currency item.stock.price*item.quantity %></p>
                  <br>
                  <div class = "buttons are-normal">
                    <div class = "columns is-vcentered">
                      <div class="column">
                      <%# update button %>
                        <%= f.submit "Update", class: "button is-rounded" %>
                      </div>
                      <div class="column">
                      <%# destroy button %>
                        <button class = "button is-rounded"><%= link_to "Delete", item, method: "delete", data: {confirm: "Are you sure?"} %></button>
                      </div>
                      <div class="column">
                      <%# checkout button %>
                        <button class = "button is-rounded"><%= link_to "Checkout", new_order_path(id: item.id) %></button>
                      </div>
                    </div>
                  </div>
                <% end %>
                  <div>
                  </div>
              </div>
          <% end %>
      </div>
    </div>
  </div>
</section>
