
<div class = "media-left">
</div>
<div class = "level has-text-left has-text-grey-dark has-text-weight-semibold is-family-primary">
    <div class = "column level"
        <h1>Card Name: <%=@cards.title%></h1>
        <h1>Card Type: <%=@cards.card_type%></h1>
        <h1>Colour: <%=@cards.color%></h1>
        <h1>CMC: <%=@cards.converted_mana_cost%></h1>
        <h1>Rarity: <%=@cards.rarity%></h1>
        <h1>Set: <%=@cards.set%></h1>
        <h1>Release Date: <%=@cards.date%></h1>
    </div>
</div>
